[submodule "aristocrat"]
	path = aristocrat
	url = https://github.com/MMurlyka/lp-aristocrat.git
[submodule "pallet-racking-smart"]
	path = pallet-racking-smart
	url = https://github.com/MMurlyka/lp-pallet-racking-smart.git
[submodule "natural-health-center"]
	path = natural-health-center
	url = https://github.com/MMurlyka/lp-natural-health-center.git
[submodule "white-and-smile"]
	path = white-and-smile
	url = https://github.com/MMurlyka/lp-white-and-smile.git
[submodule "earnings-on-the-land"]
	path = earnings-on-the-land
	url = https://github.com/MMurlyka/lp-earnings-on-the-land.git
